html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o footer fique na parte inferior */
}

.footer {
    margin-top: auto; /* empurra o footer para o final da página */
}
